In [2]:
import pandas as pd
import numpy as np

In [7]:
csv_path = "../raw_data/raw.csv"  # adapte si besoin
df = pd.read_csv(csv_path)

In [9]:
display(df.head())

,date,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,silica_concentrate
0,2017-04-24 00:00:00,300.263166,383.982443,55.17,1979.589150,599.676489,400.017222,9.774028,1.753206,4.360000
1,2017-04-24 01:00:00,299.782402,386.049069,55.17,1758.466329,600.043100,400.484528,9.539246,1.754190,3.290000
2,2017-04-24 02:00:00,299.750052,385.250935,55.17,2379.752428,599.948406,400.325617,9.434227,1.756873,4.900000
3,2017-04-24 03:00:00,299.997522,389.635519,55.17,2287.130046,599.580383,399.801506,9.725607,1.727125,4.860153
4,2017-04-24 04:00:00,300.005220,387.810807,55.17,2291.789167,599.871217,399.567333,9.845198,1.633063,4.780898

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1817 entries, 0 to 1816
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1817 non-null   object
 1   ave_flot_air_flow   1817 non-null   float64
 2   ave_flot_level      1817 non-null   float64
 3   iron_feed           1817 non-null   float64
 4   starch_flow         1817 non-null   float64
 5   amina_flow          1817 non-null   float64
 6   ore_pulp_flow       1817 non-null   float64
 7   ore_pulp_pH         1817 non-null   float64
 8   ore_pulp_density    1817 non-null   float64
 9   silica_concentrate  1817 non-null   float64
dtypes: float64(9), object(1)
memory usage: 142.1+ KB

In [11]:
df.describe()

,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density,silica_concentrate
count,1817.000000,1817.000000,1817.000000,1817.000000,1817.000000,1817.000000,1817.000000,1817.000000,1817.000000
mean,296.036027,457.718993,57.594662,3106.797900,502.075958,400.015391,9.895610,1.681849,2.161673
std,6.342455,66.963782,5.753694,831.195329,65.957732,0.865649,0.298358,0.049554,1.047229
min,282.466012,306.748910,43.370000,401.628723,301.264021,396.331445,8.809455,1.546127,0.850000
25%,291.643054,408.780472,52.670000,2554.580328,454.769861,399.508139,9.705173,1.653314,1.370000
50%,299.859804,421.505544,57.380000,3144.695311,509.368744,399.976989,9.914017,1.690384,1.820000
75%,299.961731,500.251061,64.030000,3648.292550,553.007194,400.482357,10.103874,1.716987,2.670000
max,301.338649,767.639752,65.780000,5556.094067,715.748025,403.177721,10.758195,1.797635,5.330000

In [12]:
csv_path = "../processed_data/X_train.csv"  # adapte si besoin
x_train = pd.read_csv(csv_path)

In [13]:
display(x_train.head())

,ave_flot_air_flow,ave_flot_level,iron_feed,starch_flow,amina_flow,ore_pulp_flow,ore_pulp_pH,ore_pulp_density
0,299.839775,548.745153,64.03,2896.441222,563.573819,400.116808,10.030722,1.695828
1,299.953344,500.391611,56.96,3451.310347,551.153089,399.828567,9.585100,1.669867
2,299.933840,499.089163,57.47,4269.910944,553.232300,399.657928,10.406934,1.724571
3,283.435080,312.316311,64.03,3054.018385,524.500283,400.667072,9.985472,1.734294
4,299.953588,457.444789,47.79,5090.039444,524.806328,400.512878,10.012918,1.714571